<table class="table table-hover" id="table">
    <thead class="thead-dark">
    <tr>
        <th class="ignore">
            Id
        </th>
        <th>
            Country
        </th>
        <th>
            Unit
        </th>
        <th class="sorting_disabled" style="width: 6em;"></th>
        <th class="sorting_disabled" style="width: 4em;"></th>
    </tr>
    </thead>
    {% for dep in data|sort(attribute='id') %}
        <tr id="{{ dep.id }}">
            <td>
                {{ dep.id }}
            </td>
            <td>
                {{ dep.country }}
            </td>
            <td>
                {{ dep.unit }}
            </td>
            <td>
                <button type="button" class="edit btn btn-secondary"
                        onclick="editRow({{ dep.id }}, '/department/update', '/department/delete')">
                    Edit
                </button>
            </td>

            <td>
                <button type="button" class="btn btn-danger" onclick="deleteRow({{ dep.id }}, '/department/delete')">
                    Delete
                </button>
            </td>
        </tr>
    {% endfor %}
</table>