<table class="table table-hover" id="table">
    <thead class="thead-dark">
    <tr>
        <th>
            Id
        </th>
        <th>
            Country
        </th>
        <th>
            Unit
        </th>
        <th style="width: 6em;"></th>
        <th style="width: 4em;"></th>
    </tr>
    </thead>
    {% for dep in data|sort(attribute='id') %}
        <tr id="{{ dep.id }}">
            <td>
                {{ dep.id }}
            </td>
            <td>
                {{ dep.country }}
            </td>
            <td>
                {{ dep.unit }}
            </td>
            <td>
                <button type="button" class="edit btn btn-secondary"
                        onclick="editRow({{ dep.id }}, '/department/update')">
                    Edit
                </button>
            </td>

            <td>
                <form action="/department/delete/{{ dep.id }}" method="POST">
                    <input class="btn btn-danger" type="submit" value="Delete"/>
                </form>
            </td>
        </tr>
    {% endfor %}
</table>
<button id="addButton" class="btn btn-dark" onclick="addDepartment()">Add new</button>
