<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Equipment list</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
{% include 'UIElements/navbar.html' %}

<div>
    {% block body %}{% endblock %}
</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename = 'edit.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename = 'sorting.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename = 'add.js') }}"></script>
</body>
</html>