<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Equipment list</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='Pictures/favicon.ico') }}">
</head>
<body>
{% include 'UIElements/navbar.html' %}

<div>
    {% block body %}{% endblock %}
</div>
<!-- https://datatables.net/ -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" charset="UTF-8"></script>

<!-- https://datatables.net/ -->
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" charset="UTF-8"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js" charset="UTF-8"></script>

<script type="text/javascript" charset="UTF-8" src="{{ url_for('static', filename = 'displayEquipment.js') }}"></script>
<script type="text/javascript" charset="UTF-8" src="{{ url_for('static', filename = 'htmlElements.js') }}"></script>
<script type="text/javascript" charset="UTF-8" src="{{ url_for('static', filename = 'status.js') }}"></script>
<script type="text/javascript" charset="UTF-8" src="{{ url_for('static', filename = 'edit.js') }}"></script>
<script type="text/javascript" charset="UTF-8" src="{{ url_for('static', filename = 'setupTable.js') }}"></script>
<script type="text/javascript" charset="UTF-8" src="{{ url_for('static', filename = 'delete.js') }}"></script>
<script type="text/javascript" charset="UTF-8" src="{{ url_for('static', filename = 'validate.js') }}"></script>

</body>
</html>