<nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <a class="navbar-brand" href="/">Equipment List&nbsp;</a>

      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Warnings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/employee">Employee</a>
          </li>
            <li class="nav-item">
            <a class="nav-link" href="/equipment">Equipment</a>
          </li>
            <li class="nav-item">
            <a class="nav-link" href="/receipt">Receipt</a>
          </li>
            <li class="nav-item">
            <a class="nav-link" href="/transaction">Transaction</a>
          </li>
            <li class="nav-item">
            <a class="nav-link" href="/department">Department</a>
          </li>
        </ul>
      </div>
    </nav>