<table class="table table-hover" id="table">
    <thead class="thead-dark">
    <tr>
        <th>
            Equipment
        </th>
        <th>
            Buy date
        </th>
        <th>
            Employee
        </th>
        <th>
            Transfer Date
        </th>
        <th style="width: 6em;"></th>
        <th style="width: 4em;"></th>
    </tr>
    </thead>
    {% for tra in data|sort(attribute='id') %}
        <tr id="{{ tra.id }}">
            {% for equ in equipment_data %}
                {% if tra.equipment_id == equ.id %}
                <td>
                    {{ equ.description }}
                </td>
                <td>
                    {{ equ.buy_date }}
                </td>
                {% endif %}
            {% endfor %}
            <td>
                {% for emp in employee_data %}
                    {% if tra.employee_id == emp.id %}
                        {{ emp.name }}
                    {% endif %}
                {% endfor %}
            </td>
            <td>
                {{ tra.transfer_date }}
            </td>
            <td>
                <button type="button" class="btn btn-secondary" id="editButton" onclick="editRow({{ tra.id }}, '/transaction/update')">
                    Edit
                </button>
            </td>

            <td>
                <form action="/transaction/delete/{{ tra.id }}" method="POST">
                    <input class="btn btn-danger" type="submit" value="Delete"/>


                </form>
            </td>
        </tr>
    {% endfor %}
</table>
<button class="btn btn-secondary">Add new</button>

