<table class="table table-hover" id="table">
    <thead class="thead-dark">
    <tr>
        <th class="ignore">
            Equipment ID
        </th>
        <th class="equipment">
            Equipment
        </th>
        <th class="ignore">
            Buy date
        </th>
        <th class="employee">
            Employee
        </th>
        <th class="date">
            Transfer Date
        </th>
        <th style="width: 6em;"></th>
        <th style="width: 4em;"></th>
    </tr>
    </thead>
    {% for tra in data|sort(attribute='id') %}
        <tr id="{{ tra.id }}">
            {% for equ in equipment_data %}
                {% if tra.equipment_id == equ.id %}
                <td>
                    {{ equ.id }}
                </td>
                <td>
                    {{ equ.description }}
                </td>
                <td>
                    {{ equ.buy_date }}
                </td>
                {% endif %}
            {% endfor %}
            <td>
                {% for emp in employee_data %}
                    {% if tra.employee_id == emp.id %}
                        {{ emp.name }}
                    {% endif %}
                {% endfor %}
            </td>
            <td>
                {{ tra.transfer_date }}
            </td>
            <td>
                <button type="button" class="btn btn-secondary"
                        onclick="editRow({{ tra.id }}, '/transaction/update')">
                    Edit
                </button>
            </td>

            <td>
                <button type="button" class="btn btn-danger" onclick="deleteRow({{ tra.id }}, '/transaction/delete')">
                    Delete
                </button>
            </td>
        </tr>
    {% endfor %}
</table>
<meta id="equipmentData" content="{{ equipment_list }}">
<meta id="employeeData" content="{{ employee_list }}">
