<table class="table table-hover" id="table">
    <thead class="thead-dark">
    <tr>
        <th onclick="sortTable(0)">Equipment</th>
        <th onclick="sortTable(1)">Employee</th>
        <th onclick="sortTable(2)">Transfer Date</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    {% for tra in data|sort(attribute='id') %}
        <tr id="{{ tra.id }}">
            <td>
                {% for equ in equipment_data %}
                    {% if tra.equipment_id == equ.id %}
                        {{ equ.description }}
                    {% endif %}
                {% endfor %}
            </td>
            <td>
                {% for emp in employee_data %}
                    {% if tra.employee_id == emp.id %}
                        {{ emp.name }}
                    {% endif %}
                {% endfor %}
            </td>
            <td>
                {{ tra.transfer_date }}
            </td>
            <td>
                <button type="button" class="btn btn-secondary" id="editButton" onclick="editRow({{ tra.id }}, '/transaction/update')">
                    Edit
                </button>
            </td>

            <td>
                <form action="/transaction/delete/{{ tra.id }}" method="POST">
                    <input class="btn btn-danger" type="submit" value="Delete"/>


                </form>
            </td>
        </tr>
    {% endfor %}
</table>
<button class="btn btn-secondary">Add new</button>

