<table class="table table-hover" id="addTable">
    <thead class="thead-dark">
    <tr>
        <th>
            Id
        </th>
        <th>
            Name
        </th>
        <th class="department" style="width: 12em;">
            Department
        </th>
        <th class="date" style="width: 12em;">
            Start Date
        </th>
        <th class="date" style="width: 12em;">
            End Date
        </th>
        <th style="width: 6em;"></th>
        <th style="width: 4em;"></th>
    </tr>
    </thead>
</table>