{% extends 'UIElements/layout.html' %}
{% block body %}

    <div class="container"><br/><br/>
        <div id="status">

        </div>
        <div class="row justify-content-md-center">
            <div class="col" id="box">
                {% include 'Views/Employee/list.html' %}
            </div>
        </div>
        <div id="addDiv"
             style="visibility: hidden; position: absolute; top: 20%; width: 45%; height: 1200px; background-color: white;">
            {% include 'Views/Employee/add.html' %}
        </div>
    </div>
{% endblock %}