<table class="table table-hover">
    <thead class="thead-dark">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Department Id</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    {% for emp in data %}
        <tr id="{{ emp.id }}">
            <th>
                {{ emp.id }}
            </th>
            <th>
                {{ emp.name }}
            </th>
            <th>
                {% for dep in department_data %}
                    {% if emp.department_id == dep.id %}
                        {{ dep.unit }}
                    {% endif %}
                {% endfor %}
            </th>
            <th>
                {{ emp.start_date }}
            </th>
            <th>
                {{ emp.end_date }}
            </th>
            <th>
                <button type="button" class="btn btn-secondary" id="editButton" onclick="editEmployee({{ emp.id }})">
                    Edit
                </button>
            </th>

            <th>
                <form action="/employee/delete/{{ emp.id }}" method="POST">
                    <input class="btn btn-danger" type="submit" value="Delete"/>


                </form>
            </th>
        </tr>
    {% endfor %}
</table>
<button class="btn btn-secondary">Add new</button>

<script type="text/javascript" src="{{ url_for('static', filename = 'employee.js') }}"></script>
