<table id="tableId" class="table">
    <tr>
        <th><input type="checkbox" onClick="toggle(this)"></th>
        <th>Id</th>
        <th>Name</th>
        <th>Department Id</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th></th>
        <th></th>
    </tr>
    {% for emp in data %}
        <tr id="{{ emp.id }}">
            <th><input type="checkbox" name="foo"></th>
            <th>
                {{ emp.id }}
            </th>
            <th>
                {{ emp.name }}
            </th>
            <th>
                {{ emp.department }}
            </th>
            <th>
                {{ emp.start_date }}
            </th>
            <th>
                {{ emp.end_date }}
            </th>
            <th>
                <button type="button" id="editButton" onclick="editEmployee({{ emp.id }})">Edit</button>
            </th>

            <th>
                <form action="/employee/delete/{{ emp.id }}" method="POST">
                    <input type="submit" value="Delete"/>
                </form>
            </th>
        </tr>
    {% endfor %}
</table>
<button>Delete selected</button>
<button>Add new</button>

<script>
    function toggle(source) {
        let checkboxes = document.getElementsByName('foo');
        for (let i = 0, n = checkboxes.length; i < n; i++) {
            checkboxes[i].checked = source.checked;
        }
    }

    function editEmployee(id) {

        let row = document.getElementById(id).cells;

        for (let i = 1; i < row.length - 2; i++) {

            let value = row[i].innerHTML;
            value = value.split(' ').join('');

            if (value.match('None') != null) {
                row[i].innerHTML = '<input class="fool" type="date">';
            } else if (value.match('([12]\\d{3}-(0[1-9]|1[0-2])-(0[1-9]|[12]\\d|3[01]))')) {
                value = value.split('\n').join('');
                row[i].innerHTML = '<input class="fool" type="date" value="' + value + '" >';
            } else {
                row[i].innerHTML = '<input class="fool" type="text" size="8" value="' + value + '">';
            }
        }

        row[6].innerHTML = '';
        let x = document.createElement("INPUT");
        x.setAttribute("type", "submit");
        x.setAttribute("value", "Confirm");


        x.addEventListener("click", function () {
            let a = document.getElementsByClassName('fool');
            let valueString = "";
            for (let i = 0; i < a.length; i++) {
                valueString += "/" + a[i].getAttribute('value');
            }
            location.replace("/employee/update" + valueString);
        });

        row[6].appendChild(x);


    }
</script>