<!-- Modal -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog"
      aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Receipt</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/receipt/add" method="post">
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="supplement">Supplement</label><br />
                        <input type="text" name="supplement" id="supplement">
                    </div>
                    <div class="mb-3">
                        <label for="year">Year</label><br />
                        <input type="number" id="year" name="year">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Confirm</button>
                </div>
            </form>
        </div>
    </div>
</div>