<table class="table table-hover" id="table">
    <thead class="thead-dark">
    <tr>
        <th class="ignore">
            Id
        </th>
        <th>
            Year
        </th>
        <th>
            Supplement
        </th>
        <th class="link">
            Link
        </th>
        <th class="sorting_disabled" style="width: 6em;"></th>
        <th class="sorting_disabled" style="width: 4em;"></th>
    </tr>
    </thead>
    {% for rec in data|sort(attribute='id') %}
        <tr id="{{ rec.id }}">
            <td>
                {{ rec.comb_id }}
            </td>
            <td>
                {{ rec.year }}
            </td>
            <td>
                {{ rec.supplement }}
            </td>
            <td>
                {% if rec.link|string == 'None'|string %}
                    {{ rec.link }}

                {% else %}
                    <a target="_blank" href="{{ rec.link }}">Link</a>
                {% endif %}
            </td>
            <td>
                <button type="button" class="edit btn btn-secondary"
                        onclick="editRow({{ rec.id }}, '/receipt/update', '/receipt/delete')">
                    Edit
                </button>
            </td>

            <td>
                <button type="button" class="btn btn-danger" onclick="deleteRow({{ rec.id }}, '/receipt/delete')">
                    Delete
                </button>
            </td>
        </tr>
    {% endfor %}
</table>