<!-- Modal -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Equipment</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/equipment/add" method="post" data-toggle="validator">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="currency">Currency</label><br/>
                            <input type="text" name="currency" id="currency">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="price">Price</label><br/>
                            <input type="number" name="price" id="price">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="model">Model</label><br/>
                            <input type="text" name="model" id="model">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="buy-date">Buy Date</label><br/>
                            <input type="date" name="buy-date" id="buy-date" required>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-6 mb-3">
                            <label for="receipt">Receipt</label><br/>
                            <select id="receipt" name="receipt">
                                {% for rec in receipt_data %}
                                    <option value="{{ rec.id }}">{{ rec.comb_id }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="description">Description</label><br/>
                            <textarea type="text" name="description" id="description"></textarea>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="note">Note</label><br/>
                            <textarea type="text" name="note" id="note"></textarea>
                        </div>
                    </div>
                    </br>
                    <h5>Transaction:</h5>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="employee">Employee</label><br/>
                            <select id="employee" name="employee">
                                {% for emp in employee_data %}
                                    <option value="{{ emp.id }}">{{ emp.name }}</option>
                                {% endfor %}

                            </select>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="transfer-date">Transfer date</label><br/>
                            <input type="date" name="transfer-date" id="transfer-date">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Confirm</button>
                </div>
            </form>
        </div>
    </div>
</div>