<!-- Modal -->
<div class="modal fade" id="editModal{{ equ.id }}" tabindex="-1" role="dialog"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="modal-title">Edit</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="modal-body">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="currency">Currency</label><br/>
                            <input type="text" name="currency" id="currency{{ equ.id }}" value="{{ equ.currency }}">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="price">Price</label><br/>
                            <input type="number" name="price" id="price{{ equ.id }}" value="{{ equ.price }}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="model">Model</label><br/>
                            <input type="text" name="model" id="model{{ equ.id }}" value="{{ equ.model }}">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="buy-date">Buy Date</label><br/>
                            <input type="date" name="buy-date" id="buy-date{{ equ.id }}" value="{{ equ.buy_date }}" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="receipt">Receipt</label><br/>
                            <select id="receipt{{ equ.id }}" name="receipt">
                                {% for rec in receipt_data %}
                                    {% if equ.receipt_id == rec.id %}
                                        <option value="{{ rec.id }}" selected>{{ rec.comb_id }}</option>
                                    {% else %}
                                        <option value="{{ rec.id }}">{{ rec.comb_id }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="description">Description</label><br/>
                            <textarea type="text" name="description" id="description{{ equ.id }}" >{{ equ.description }}</textarea>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="note">Note</label><br/>
                            <textarea type="text" name="note" id="note{{ equ.id }}">{{ equ.note }}</textarea>
                        </div>
                    </div>
                    </br>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="updateTableRow({{ equ.id }})" data-dismiss="modal">Confirm</button>

                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
            </form>
        </div>
    </div>
</div>

