{% extends 'UIElements/layout.html' %}
{% block body %}

    <div class="container-fluid" style=".container{width: 80%;}"><br/><br/>
        <div id="status">

        </div>
        <div class="row justify-content-md-center">
            <div class="col">
                {% include 'Views/Equipment/list.html' %}
            </div>
        </div>
        {% include 'Views/Equipment/add.html' %}

        <!-- Button trigger modal -->
        <button id="addButton" type="button" onclick="setDefaultDate('buy-date')" class="btn btn-dark" data-toggle="modal" data-target="#addModal">
            Add new
        </button>
    </div>
<script type="text/javascript" charset="UTF-8" src="{{ url_for('static', filename = 'editModal.js') }}"></script>
{% endblock %}