<table class="table table-hover" id="table" style="table-layout: fixed;">
    <thead class="thead-dark">
    <tr>
        <th onclick="sortTable(0)">
            Price
            <img src="/static/Pictures/Arrows.png" alt="" style="width:10px;height:10px;">
        </th>
        <th onclick="sortTable(1)">
            Model
            <img src="/static/Pictures/Arrows.png" alt="" style="width:10px;height:10px;">
        </th>
        <th style="width: 12em;" class="date" onclick="sortTable(2)">
            Buy date
            <img src="/static/Pictures/Arrows.png" alt="" style="width:10px;height:10px;">
        </th>
        <th onclick="sortTable(3)" style="width: 7em;">
            Receipt
            <img src="/static/Pictures/Arrows.png" alt="" style="width:10px;height:10px;">
        </th>
        <th style="width: 16em;" class="description" onclick="sortTable(4)">
            Description
            <img src="/static/Pictures/Arrows.png" alt="" style="width:10px;height:10px;">
        </th>
        <th style="width: 10em;" class="note" onclick="sortTable(5)">
            Note
            <img src="/static/Pictures/Arrows.png" alt="" style="width:10px;height:10px;">
        </th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    {% for equ in data|sort(attribute='id') %}
    <tr id="{{ equ.id }}">
        <td>
            {{ equ.price }}
        </td>
        <td>
            {{ equ.model }}
        </td>
        <td>
            {{ equ.buy_date }}
        </td>
        <td>
            {{ equ.receipt_id }}
        </td>
        <td>
            {{ equ.description }}
        </td>
        <td>
            {{ equ.note }}
        </td>
        <td>
            <form action="/equipment/edit/{{ equ.id }}">
                <button class="btn btn-secondary">Edit</button>
            </form>
        </td>
        <th>
            <form action="/equipment/delete/{{ equ.id }}" method="POST">
                <input class="btn btn-danger" type="submit" value="Delete"/>
            </form>
        </th>
    </tr>
    {% endfor %}
</table>

<button id="addButton" class="btn btn-dark" onclick="add()">Add new</button>