<table class="table" id="equipment-table" style="table-layout:fixed;">
    <thead class="thead-dark">
    <tr>
        <th>Price</th>
        <th>Model</th>
        <th>Buy date</th>
        <th>Receipt</th>
        <th>Description</th>
        <th>Note</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    {% for equ in data %}
    <tr>
        <td>
            {{ equ.price }}
        </td>
        <td>
            {{ equ.model }}
        </td>
        <td>
            {{ equ.buy_date }}
        </td>
        <td>
            {{ equ.receipt_id }}
        </td>
        <td>
            {{ equ.description }}
        </td>
        <td>
            {{ equ.note }}
        </td>
        <td>
            <form action="/equipment/edit/{{ equ.id }}">
                <button class="btn btn-secondary">Edit</button>
            </form>
        </td>
        <th>
            <form action="/equipment/delete/{{ equ.id }}" method="POST">
                <input class="btn btn-danger" type="submit" value="Delete"/>
            </form>
        </th>
    </tr>
    {% endfor %}
</table>

<button id="addButton" class="btn btn-dark" onclick="addEquipment()">Add new</button>