{% extends 'UIElements/layout.html' %}
{% block body %}

  <div class="container"><br/>
    {% if has_warnings %}
    <div>
        <h1>Warnings</h1>
        <p>Click a warning to see the objects</p>
    </div><br/>
    <div>
        {% if old_equipment|length > 0 %}
        <form action="/equipment" method="post">
            <button type="submit" class="btn btn-danger" style="width:100%; display:block;">
                <input type="hidden" name="data" value="{{ old_equipment }}">
                <div class="row">
                    <div style="padding-left:15px;padding-top:20px;">
                        <img src="/static/Pictures/Warning_icon.png" alt="" style="width:50px;height:50px;" />
                    </div>
                    <div style="margin: 5px;padding: 10px;">
                        <h3> Equipment older than 4 years (also shows who has it): {{ old_equipment|length }}</h3>
                    </div>
                </div>
            </button>
        </form>
        <div style="margin-top: 10px" />
        {% endif %}

        {% if quit_with_equipment|length > 0 %}
        <form action="/transaction" method="post">
            <button type="submit" class="btn btn-danger" style="width:100%; display:block;">
                <input type="hidden" name="data" value="{{ quit_with_equipment }}">
                <div class="row">
                    <div style="padding-left:15px;padding-top:20px;">
                        <img src="/static/Pictures/Warning_icon.png" alt="" style="width:50px;height:50px;" />
                    </div>
                    <div style="margin: 5px;padding: 10px;">
                        <h3> People who quit and still has equipment: {{ quit_with_equipment|length }}</h3>
                    </div>
                </div>
            </button>
        </form>
        <div style="margin-top: 10px" />
        {% endif %}

        {% if missing_equipment|length > 0 %}
        <form action="/equipment" method="post">
            <button type="submit" class="btn btn-warning" style="width:100%; display:block;">
                <input type="hidden" name="data" value="{{ missing_equipment }}">
                <div class="row">
                    <div style="padding-left:15px;padding-top:20px;">
                        <img src="/static/Pictures/Warning_icon.png" alt="" style="width:50px;height:50px;" />
                    </div>
                    <div style="margin: 5px;padding: 10px;">
                        <h3> Equipment missing buydate, model or receipt: {{ missing_equipment|length }}</h3>
                    </div>
                </div>
         </button>
        </form>
        <div style="margin-top: 10px" />
        {% endif %}

        {% if no_equipment|length > 0 %}
        <form action="/employee" method="post">
            <button type="submit" class="btn btn-warning" style="width:100%; display:block;">
                <input type="hidden" name="data" value="{{ no_equipment }}">
                <div class="row">
                    <div style="padding-left:15px;padding-top:20px;">
                        <img src="/static/Pictures/Warning_icon.png" alt="" style="width:50px;height:50px;" />
                    </div>
                    <div style="margin: 5px;padding: 10px;">
                        <h3> People without equipment: {{ no_equipment|length }}</h3>
                    </div>
                </div>
            </button>
        </form>
        <div style="margin-top: 10px" />
        {% endif %}

        {% if no_location|length > 0 %}
        <form action="/equipment" method="post">
            <button type="submit" class="btn btn-warning" style="width:100%; display:block;">
                <input type="hidden" name="data" value="{{ no_location }}">
                <div class="row">
                    <div style="padding-left:15px;padding-top:20px;">
                        <img src="/static/Pictures/Warning_icon.png" alt="" style="width:50px;height:50px;" />
                    </div>
                    <div style="margin: 5px;padding: 10px;">
                        <h3> Equipment that does not have a person: {{ no_location|length }}</h3>
                    </div>
                </div>
            </button>
        </form>
        <div style="margin-top: 10px" />
        {% endif %}

    </div>
    {% else %}
    <div>
        <h1>Congratulations you have no warnings!</h1>
    </div>
    <br />
    <div>
        <img src="/static/Pictures/smiley_face.png" alt="smiley face image" style="width:50%;height:50%;" />
    </div>
    {% endif %}
  </div>
{% endblock %}
