{% extends 'UIElements/layout.html' %}
{% block body %}

  <div class="container"><br/>
    {% if has_warnings %}
    <div>
        <h1>Warnings</h1>
        <p>Click a warning to see the objects</p>
    </div><br/>
    <div class="row">
        <div class="col-md-12">
            {% if old_equipment|length > 0 %}
            <form action="/equipment" method="post" style="padding-bottom: 5px;">
                <button type="submit" class="btn btn-danger" style="width:100%; display:block;">
                    <input type="hidden" name="data" value="{{ old_equipment }}">
                    <div class="row">
                        <div class="col-sm-1">
                            <img src="/static/Pictures/Warning_icon.png" alt="" style="height:50px;width:auto;" />
                        </div>
                        <div class="col-sm-11">
                            <h3> Equipment older than 4 years (also shows who has it): {{ old_equipment|length }}</h3>
                        </div>
                    </div>
                </button>
            </form>
            {% endif %}

            {% if quit_with_equipment|length > 0 %}
            <form action="/transaction" method="post" style="padding-bottom: 5px;">
                <button type="submit" class="btn btn-danger" style="width:100%; display:block;">
                    <input type="hidden" name="data" value="{{ quit_with_equipment }}">
                    <div class="row">
                        <div class="col-md-1">
                            <img src="/static/Pictures/Warning_icon.png" alt="" style="width:50px;height:50px;" />
                        </div>
                        <div class="col-md-11">
                            <h3> People who quit and still has equipment: {{ quit_with_equipment|length }}</h3>
                        </div>
                    </div>
                </button>
            </form>
            {% endif %}

            {% if no_equipment|length > 0 %}
            <form action="/employee" method="post" style="padding-bottom: 5px;">
                <button type="submit" class="btn btn-warning" style="width:100%; display:block;">
                    <input type="hidden" name="data" value="{{ no_equipment }}">
                    <div class="row">
                        <div class="col-md-1">
                            <img src="/static/Pictures/Warning_icon.png" alt="" style="width:50px;height:50px;" />
                        </div>
                        <div class="col-md-11">
                            <h3> People without equipment: {{ no_equipment|length }}</h3>
                        </div>
                    </div>
                </button>
            </form>
            {% endif %}

            {% if no_location|length > 0 %}
            <form action="/equipment" method="post" style="padding-bottom: 5px;">
                <button type="submit" class="btn btn-warning" style="width:100%; display:block;">
                    <input type="hidden" name="data" value="{{ no_location }}">
                    <div class="row">
                        <div class="col-md-1">
                            <img src="/static/Pictures/Warning_icon.png" alt="" style="width:50px;height:50px;" />
                        </div>
                        <div class="col-md-11">
                            <h3> Equipment that's not assigned to a person: {{ no_location|length }}</h3>
                        </div>
                    </div>
                </button>
            </form>
            {% endif %}

        </div>
    </div>
    {% else %}
    <div>
        <h1>Congratulations you have no warnings!</h1>
    </div>
    <br />
    {% endif %}
  </div>
{% endblock %}
